---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMNodeScrape
metadata:
  name: kubelet
  namespace: monitoring
spec:
  scheme: https
  tlsConfig:
    insecureSkipVerify: true
    caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
  relabelConfigs:
    - action: labelmap
      regex: __meta_kubernetes_node_label_(.+)
    - sourceLabels: [__address__]
      action: replace
      targetLabel: __address__
      regex: ([^:]+)(?::\d+)?
      replacement: ${1}:10250
    - sourceLabels: [__meta_kubernetes_node_name]
      action: replace
      targetLabel: node
  # Scrape kubelet metrics (not cAdvisor)
  path: /metrics
  interval: 30s
