---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: onepassword
spec:
  provider:
    onepassword:
      connectHost: http://onepassword-connect:8080
      vaults:
        k8s_vault: 1
      auth:
        secretRef:
          connectTokenSecretRef:
            name: onepassword-connect-secret
            namespace: external-secrets
            key: token
