---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: control-plane
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/monitoring/control-plane/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  dependsOn:
    - name: victoria-metrics-operator
