---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./dnsendpoint.yaml
  # - ./secret.sops.yaml  # Migrated to ExternalSecret
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
