---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app onepassword-connect
spec:
  chart:
    spec:
      chart: connect
      version: 2.1.1
      sourceRef:
        kind: HelmRepository
        name: onepassword
  interval: 1h
  values:
    connect:
      credentialsName: onepassword-connect-secret
      credentialsKey: 1password-credentials.json
    operator:
      create: false
      token:
        value: ""
